<h1> Available Books </h1>
<p> You are logged in as <%= current_user.name %></p>
<p><%if current_user.admin%>
  You have admin powers
  <%end%>
</p>
<%= link_to  "Your History", "/libraries/users/profile/#{current_user.id}"%>
<p><%=  link_to "Back to homepage", root_path%>
</p>
<p> <% if current_user.publisher %>
  <%= link_to "Add a book to the library", "/libraries/books/create_book" %>
  <% end%></p>

  <%= form_tag "/logout", method: :delete do %>
  <button>logout</button>
  <%end%>
</form>

<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th> Available to checkout  </th>
      <th> Return </th>
      <th>Due Date</th>
      <th></th>
      <th>Checkout_history</th>
    </tr>
  </thead>
  <tbody>
    <% Library.first.books.each do |book| %>
    <tr>
      <td><span title="<%=book.tagline%>"><%= book.title %></span></td>
      <td><%= book.author%></td>
      <td><%= book.genre%></td>
      <td>
        <% if !book.checked_out? %>
        <%= form_tag "/books/#{book.id}", method: :patch do %>
        <button class="btn btn-default">Checkout</button>
        <% end %>
        <% end %>
      </td>
      <td>
        <%if book.checked_out?%>
        <% if Checkout.where(book_id: book.id).last.user.id == current_user.id %>
        <%= form_tag "/books/return/#{book.id}", method: :patch do %>
        <button class="btn btn-default">Return</button>
        <%end%>
        <%else%>
        Checked Out
        <% end %>
        <% end %>
      </td>
      <td> <%=book.due_date%> </td>
      <td> <% if current_user.editor %>
        <%= link_to "Edit Book", "/libraries/books/edit_book/#{book.id}" %>
        <% end%>
      </td>
      <td>  <% if current_user.publisher %>
          <%= form_tag "books/delete_book/#{book.id}", method: :delete do%>
          <button class="btn btn-default">Delete</button>
          <% end%>
          <% end%>
      </td>
      <td> <%= link_to "Checkout History", "/libraries/books/profile/#{book.id}"%>
      </tr>
      <% end %>
    </tbody>
  </table>
