<% book = Book.find params[:id]%>
<h1> Edit <%=book.title%> </h1>
<% book = Book.find params[:id]%>
 <%= form_tag "/books/edit_book/#{book.id}", method: :patch do %>
 <label>
   <%= book.title %>
   <input type="text" name= "title">
 </label>
 <label>
  <%= book.author %>
   <input type="text" name= "author">
 </label>
 <label>
   <%= book.genre %>
   <input type="text" name= "genre">
 </label>
 <button> Save</button>
 <%end%>
 </form>
 <p><%=  link_to "Back to Library", "/libraries"%>
 </p>
