<% book = Book.find params[:id]%>

<h1><%=book.title%>'s Checkout History </h1>
<%checkout = Checkout.where(book_id: book.id)%>
This book has been checked out <%=checkout.count%> times.
<ul>
  <% checkout.each do |history|%>
  <li>
    <%=history.user.name%> checked out this book <%= time_ago_in_words(history.created_at) %> ago.
  </li>
  <%end%>
  <ul>
    <p><%=  link_to "Back to Library", "/libraries", class:"btn btn-default"%>
    </p>
